@model agencija.Models.Korisnik
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="center" >
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class="form"}))
        {
            <h1>Login</h1>
            <div class="txt_field">
                @Html.TextBoxFor(model => model.Username, new { @class = "input", style = "border:none;", @type="text" })
                <span></span>
                @Html.LabelFor(model => model.Username, new { @class = "label" })

            </div>
            <div class="txt_field">
                @Html.TextBoxFor(model => model.Sifra, new { @class = "input", style = "border:none;",@type = "password" })
                <span></span>
                @Html.LabelFor(model => model.Sifra, new { @class = "label", @type="password"})

            </div>
            
            <input type="submit" value="Login" class="input" />
            <div class="signup_link">
                Don't have an account? <a href="@Url.Action("Register", "Account")">Signup</a>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label class="label-success">@ViewBag.Greska</label>
            </div>

        </div>
    </div>
</body>
</html>
